<div class="mt-4">
  <h3>Edit</h3>
  <form enctype="multipart/form-data" method="POST" action="/books/{{books._id}} ?_method=PUT">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" value="{{books.title}}" name="title" class="form-control" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" value="{{books.description}}" name="description" class="form-control" />
    </div>
    <div class="form-group">
      <label for="pageCount">Page Count</label>
      <input type="text" value="{{books.pagecount}}" name="pagecount" class="form-control" />
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" value="{{books.price}}" name="price" class="form-control" />
    </div>
    <label for="exampleFormControlSelect1">Author</label>
    <select name="author" class="form-control" id="exampleFormControlSelect1">
      <option value="">Select....</option>
      {{#each users}}
      <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <label class="mt-4">Image</label>
    <div class="custom-file mb-3">
      <input value="{{books.coverImage}}"
        type="file"
        class="custom-file-input"
        id="customFile"
        name="coverImage"
      />
      <label class="custom-file-label" for="coverImage">Choose file</label>
    </div>
    <div>
      <button type="submit" class="btn btn-success mt-4">edit</button>
      <a
        class="btn btn-primary mt-4"
        href="/books/index"
        role="button"
      >Cancel</a>
    </div>
  </form>
</div>

<script>
  $(".custom-file-input").on("change", function() { var fileName =
  $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>