<div class="mt-4">
  <div class="col-lg-3">
    <h1>Detail Books</h1>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Title</th>
          <td>{{books.title}}</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td> {{books.description}}</td>
        </tr>
        <tr>
          <th scope="row">Page count</th>
          <td>{{books.pagecount}}</td>
        </tr>
        <tr>
          <th scope="row">price</th>
          <td>{{books.price}}</td>
        </tr>
        <tr>
          <th scope="row">Author</th>
          <td>{{books.author}}</td>
        </tr>
        <tr>
          <th scope="row">Image</th>
          <td><img src="{{books.coverImage}}" alt="image"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div><a class="btn btn-primary mt-4" href="/books/index" role="button">Cancel</a></div>
</div>